@charset "UTF-8";

@font-face {
  font-family: "hackercafe";
  src:url("../fonts/hackercafe.eot");
  src:url("../fonts/hackercafe.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hackercafe.woff") format("woff"),
    url("../fonts/hackercafe.ttf") format("truetype"),
    url("../fonts/hackercafe.svg#hackercafe") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hackercafe" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hackercafe" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "c";
}
.icon-mail:before {
  content: "d";
}
.icon-cup:before {
  content: "e";
}
.icon-suitcase:before {
  content: "f";
}
.icon-link:before {
  content: "a";
}
.icon-twitter:before {
  content: "b";
}
