$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$text-color: #333;
$yellow: yellow;
$black: #000;
$font-family-sans-serif: "Open Sans",
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$border-radius-base: 0;
// bower:scss
@import "bootstrap.scss";
// endbower
@import "navigation";
body {
    padding-top: 70px;
    margin: 0 auto;
    max-width: 2400px;
}

.navbar {
    max-width: 2400px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    text-align: left;
    color: #111;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 0px;
}

.hero p {
    font-size: 20px;
    color: #555;
}

html {
    overflow-y: scroll;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#portfolio {
    padding-top: 40px;
}

a {
    color: #333;
}

.overlay {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s;
    &:hover {
        opacity: 0.6;
        /*  outline: 12px solid $yellow;*/
    }
    text-align: center;
    h2 {
        font-size: 80px;
        color: #fff;
        font-weight: 300;
        opacity: 0.9;
    }
    p {
        font-size: 20px;
        color: #fff;
    }
}

.container {
    max-width: 1000px!important;
    margin: 0 auto;
    padding-left: 0;
}

.hero {
    padding: 30px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: left;
    -webkit-transition: all 0.5s;
    &:hover {
        opacity: 0.6;
    }
    text-align: center;
    p {
        font-size: 20px;
        color: #fff;
    }
}

.project-single {
    padding-bottom: 30px;
}

.projects {
    padding-top: 30px;
}

.portfolio-single {
    span {
        margin-bottom: 6px;
    }
    .info {
        padding: 30px 0;
    }
    .desc,
    {
        font-size: 20px;
    }
    .extra {
        font-size: 14px;
        color: #888;
    }
    a {
        color: #888;
    }
    h1 {
        font-size: 32px;
        text-align: left;
        color: #111;
        letter-spacing: 1px;
        word-spacing: 4px-;
        line-height: 1.2;
        font-weight: 400;
        margin-top: 0px;
    }
    h3 {
        margin-top: 15px;
        font-weight: 400;
        font-size: 22px;
        color: #555;
    }
    img {
        padding-bottom: 60px;
        margin: 0 auto;
       
    }
}

.image-container {
    position: relative;
}

.info {
    color: #555;
    font-weight: 400;
    td {
        padding: 5px 0;
        padding-right: 5px;
        color: #555
    }
}

#single-content {
    
}

.previous, .next {
      position: fixed;
        margin-top: -40px;
        opacity: 0.6;
        top: 50%;
    &:hover {
        opacity: 1;
    }
}

.previous {
    left: 0;
    transform: scaleX(-1);
    @media (min-width: 500px) {
            left: 5%;
    }
       @media (min-width: 900px) {
            left: 5%;
    }
         @media (min-width: 1600px) {
            left: 15%;
    }
           @media (min-width: 2500px) {
            left: 25%;
    }
}

.next {
    right: 0;
    top: 50%;
      @media (min-width: 500px) {
            right: 5%;
    }
      @media (min-width: 900px) {
            right: 5%;
    }
           @media (min-width: 1600px) {
            right: 15%;
    }
             @media (min-width: 2500px) {
            right: 25%;
    }
}

.mix {
    display: none;
}

/* fade image in after load */
/*
.lazyload,
.lazyloading {
    opacity: 0;
}*/

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.about-nils {
    @media (min-width: 1600px) {
        margin-top: 100px;
    }

    h2 {
        color: #111;
        @media (min-width: 800px) {
            margin-top: 192px;
        }
    }
    img {
        max-width: 60%;
        margin: 0 auto;
        @media (min-width: 800px) {
            margin-left: -30px;
            max-width: 100%;
        }
    }
    .desc {
        color: #111;
        font-size: 18px;
        margin: 0;
    }
    p {
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 50px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}