{{ partial "header.html" . }} 
{{ partial "navbar.html" . }}


<!-- PORTFOLIO -->
<div id="single-content" class="container portfolio-single">
    <div class="row ">
        <div class="col-md-8">
            <div class="info">
                <h1>{{ .Title }}</h1>
                <p class="desc">{{ .Params.desc }}</p>

                <p class="extra">
                    <span>Location: {{ .Params.location }}<br/></span>
                    <span>Designer: {{ .Params.designer }}</span>
              <span> {{if .Params.site  }}<br/> Site: <a href="{{ .Params.site }}">{{ .Params.site }}</a> {{else}} <br> {{end}}</span>  
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ .Content }}</div>
    </div>

    <div class="controls-container">{{if .PrevInSection }}
        <a id="next" class="next" href="{{ .PrevInSection.Permalink }}"> <img src="/images/arrow-right.svg" alt=""></a> {{else}}
        <br> {{ end }} {{if .NextInSection }}
        <a id="prev" class=" previous" href="{{ .NextInSection.Permalink }}"> <img src="/images/arrow-right.svg" alt=""></a> {{else}}
        <br>{{ end }}
    </div>
</div>

{{ partial "javascript.html" . }}