</div>
<!-- #main -->
</div>
<!-- #main-container -->
<footer class="footer">
    <div class="container">
     
        <ul style="list-inline list-unstyled">
           <li>   <p> &copy; Nils Austrums</p></li>
            <li> <a href="mailto:naustrums@gmail.com">E-mail</a></li>
            <li> <a href="
https://twitter.com/Nils_Austrums" target="_blank">Twitter</a></li>
            <li> <a href="https://www.linkedin.com/profile/view?id=AAIAAA6HeCsBPZo-kBygh5GtrnlZ89yUr7ZXMAw&trk=nav_responsive_tab_profile" target="_blank">Linkedin</a></li>
        </ul>
       
</footer>
