
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>

{{ "<!-- build:js js/main.min.js -->" | safeHTML }}
<script src="/js/jquery.fittext.js"></script>
<script src="/js/headroom.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/jQuery.headroom.min.js"></script>
<script src="/js/lazysizes.min.js"></script>

<script src="/js/main.js"></script>



{{ "<!-- endbuild -->" | safeHTML }}



