<div class="navbar" id="navbar">
    <div class="container">
        <a class="brand" rel="home" href="/" title="Nils Austrums">
            <img src="/images/nils-austrums-logo.svg" alt="">
        </a>
        <ul class="nav navbar-nav nav-tabs navbar-right">
            <li>
                <a href="/">Projects</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li> <a class="navbar-social" href="
https://twitter.com/Nils_Austrums" target="_blank"><img src="/images/twitter.svg" alt=""></a></li>
             <li> <a class="navbar-social" href="mailto:naustrums@gmail.com"><img src="/images/envelope.svg" alt=""> </a></li>
        </ul>

    </div>
</div>

