<div class="navbar" id="navbar">
    <div class="container">
        <a class="brand" rel="home" href="/" title="Nils Austrums">
            <img src="/images/nils-austrums-logo.svg" alt="">
        </a>
        <ul class="nav navbar-nav nav-tabs navbar-right">
            <li>
                <a id="projects-link" href="/" class="active">Projects</a>
            </li>
            <li>
                <a id="about-link" href="/about">About</a>
            </li>
              <li> <a class="navbar-social" href="mailto:naustrums@gmail.com">E-mail </a></li>
           
        </ul>
    </div>
</div>

